[2018-05-18 10:57] lezasantaizi opened #1 "inject_weight_noise is not defined?"

[2019-04-21 01:44] ghost opened #2 "Install Instructions and Scripts to replicate the results on librispeech"
thank you

[2019-08-01 08:48] iamxiaoyubei opened #4 "Is it your WER on librispeech?"
![image2019-7-30_18-26-3](https://user-images.githubusercontent.com/21981293/62279201-346cca00-b47c-11e9-89da-513e6b256514.png)

[2019-08-03 09:53] Marcovaldong opened #5 "A problem about shallow fusion"
Hi , thanks for your uploading code. have you uploaded the code os shallow fusion, I didn't find it.

[2019-08-05 10:43] hirofumi0810 commented on #4
@iamxiaoyubei yes.

[2019-08-05 21:05] hirofumi0810 commented on #5
@Marcovaldong Please check examples/corpus/**/local/score.sh.
You can evaluate the model with score.sh after finishing training (stage-4).

[2019-08-08 04:19] Marcovaldong commented on #5
Tks, I will try your code.

[2019-08-08 04:19] #5 closed

[2019-08-13 06:01] JohnWu678 opened #6 "why should we initialize the gating bias -1 for cold fusion?"
is there any experiment supporting this?

[2019-08-13 06:16] hirofumi0810 commented on #6
@JohnWu678 This is proposed in the original deep fusion paper.
The motivation is to use LM features only when it is helpful.
In the early training stage, outputs of the sigmoid function is not activated by setting the bias term to -1.

[2019-08-13 20:06] #4 closed

[2019-08-21 01:26] #6 closed

[2019-08-28 21:26] rdoshi96 opened #7 "Errors when running make KALDI-/path/to/kaldi command"
I get the following make error related to Bazel:

command -v bazel > /dev/null || echo "SentencePiece requires Bazel, see https://bazel.build/"
cd /home/rohan_doshi96/neural_sp/tools/sentencepiece && bazel build src:all --incompatible_disable_deprecated_attr_
params=false
Extracting Bazel installation...
ERROR: The 'build' command is only supported from within a workspace (below a directory having

[2019-09-05 14:50] ahmedbhna commented on #7
Install SentencePiece manuelly just clone it from GitHub repo and build it.

[2019-09-17 08:22] YimengZhu opened #8 "GLU bottleneck"
Hi, I have a question regarding your GLU implementation [here](https://github.com/hirofumi0810/neural_sp/blob/master/neural_sp/models/modules/glu.py).

As far as I understood the GCNN paper, the gate mechanism should be taken place in bottleneck layer if it is issued. In your implementation, however, it is happened after resample the bottleneck to output dimension.
`            layers['conv_out']

[2019-09-18 01:18] XiangZhu0718 opened #9 "RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED"
Hi!
When I ran ASR model training stage (stage 4) with 8 * 1080 Ti, I got error as follows:
[code]
Anyone know what is the problem?

My environment:
system ubuntu 16.04
gpu NVIDIA GTX 1080 Ti
python 3.7.4
cuda 9.0.176
torch 1.0.0
cudnn 7.0.5

However, it worked when I used only one GPU.
Can anyone help me resolve this issue?
Thank you!

[2019-11-07 12:44] ahmedalbahnasawy opened #10 "what is the different between neuralSp and ESPnet in term of accuracy, models and speed ?"

[2019-11-26 01:33] phoenixbai opened #11 "SkipThought class is missing"
I failed to find this class
`from neural_sp.models.seq2seq.skip_thought import SkipThought`

did I download the wrong version of the code?

[2019-11-26 02:18] phoenixbai opened #12 "convert_to_sgd usage is not consistent with definition?"
Here is the usage in asr/train.py and lm/train.py
[code]
while function definition is :
[code]

isn't it a bug?

[2019-12-08 05:46] widdiot commented on #11
its not been implemented

[2019-12-14 01:34] Dabuk opened #14 "config file and example for rnnt"
Which example can I use for training an rnnt model ?

[2020-03-31 08:44] oplatek opened #20 "Add License"
Can you please add a license?

[2020-05-14 02:41] Gqwert123 opened #24 "Sorry, I can not find the 'AcousticModel' code ?"
I can not find the code difine, can any one help?
neural_sp/neural_sp/bin/asr/train.py /
from neural_sp.models.seq2seq.acoustic_model import AcousticModel

[2020-05-18 11:42] zhazhuanling commented on #24
Same to me, can you provided it?@hirofumi0810

[2020-05-26 02:47] hirofumi0810 commented on #20
@oplatek Sorry for the late reply. I added a license.

[2020-05-26 02:47] #20 closed

[2020-05-26 02:48] hirofumi0810 commented on #24
Fixed in #26.

[2020-05-26 02:48] #24 closed

[2020-05-26 12:00] entn-at opened #35 "Error in ASR Training stage: Missing transformer_transducer"
Hi,
Thanks for creating such a great repo!
I tried running the SWBD example and ran into an issue at the ASR training stage. It seems a python module is missing (`transformer_transducer.py`)
[code]
Could you add the file, or should I just remove any reference to it in `speech2text.py`?
Thanks!

[2020-05-28 08:03] Gqwert123 opened #39 "Bug: TypeError: forward() got an unexpected keyword argument 'boundary_rightmost'"
Hi,
When I use your recent code, in example/aishell/s5.
when I score.sh the result, get error:

   File "/../../../neural_sp/bin/asr/eval.py", line 259, in <module>
    main()
  File "../../../neural_sp/bin/asr/eval.py", line 190, in main
    progressbar=True)
  File "neural_sp/evaluators/word.py", line 82, in eval_word
    ensemble_models=models[1:] if len(models) > 1 else [])
  File "neural_sp/m

[2020-05-28 08:52] hirofumi0810 commented on #35
@entn-at Thank you for your report!
I fixed the bug in #40.

[2020-05-28 08:52] hirofumi0810 commented on #39
Thank you for your report. I fixed it in #40.

[2020-05-28 12:20] entn-at commented on #35
Thanks!

[2020-05-28 12:20] #35 closed

[2020-05-31 18:40] #39 closed

[2020-06-02 06:44] Gqwert123 opened #49 "bug: AttributeError: 'TransformerEncoder' object has no attribute 'chunk_size_left'"
Hi,
When I use streamming transformer to train the model,
unit: word
when I decode the result, using streaming_score.sh. I got an error:
[code]
Yours,
Thanks a lot.

[2020-06-02 09:01] hirofumi0810 commented on #49
@Gqwert123 Transformer is not supported in streaming_score.sh now. Could you try `score.sh` instead?

[2020-06-02 09:14] Gqwert123 commented on #49
Thanks for your reply.
score.sh works fine.
But I have another question. when I use ctc/attention  0.3 decoding.
some insntance like below:
Ref: ni hao a wo zai zhe li
Hyp:ni hao a wo zai zhe li <eos>

but some insatnce may, like this:
Ref: ni hao a wo zai zhe li
Hyp:ni hao a wo zai zhe li wo you wo you wo you wo you
This instance had a bad Alignment.
when I use pure ctc decode, It's got better.
I

[2020-06-02 09:20] hirofumi0810 commented on #49
@Gqwert123 That is the expected behaviour of Transformer. You can avoid it by using `--length_penalty=2.0`.

[2020-06-02 10:08] Gqwert123 commented on #49
Sorry,  but maybe it did not changed better. I use only AM, unit word, but not include spm.
A lot instance got terrible like:
Ref: ni hao a wo zai zhe li
Hyp:ni hao a wo zai hi li wo you wo you wo you wo you nu nu nu ou

Maybe use some force alignment way? Or Truncate sentence output as long as input？

[2020-06-02 10:12] Gqwert123 commented on #49
I use AM config:
`aishell/s5/conf/asr/lc_transformer_mocha_mono4H_chunk4H_chunk16_from4L_headdrop0.5_subsample8_96_64_32.yaml`
decode config:
`model1=
model2=
model3=
model_bwd=
gpu=1
stdout=false

### path to save preproecssed data
data=${H}/data
#/n/work1/inaguma/corpus/aishell1

unit=word
metric=edit_distance
batch_size=1
beam_width=10
min_len_ratio=0.0
max_len_ratio=1.0
length_penalty=2.0
leng

[2020-06-03 03:09] Gqwert123 commented on #49
Did you mean that even I use streamming transformer model to train my model like aishell recipe
(aishell/s5/conf/asr/lc_transformer_mocha_mono4H_chunk4H_chunk16_from4L_headdrop0.5_subsample8_96_64_32.yaml).
Streamming decoding can be used now?

[2020-06-03 03:11] hirofumi0810 commented on #49
Basically CTC decoding can be used in the offline scenario. Length penalty is the easiest way to truncate bad hypotheses during streaming decoding.

[2020-06-05 03:51] Cescfangs opened #53 "why mask=None in stream mode"
https://github.com/hirofumi0810/neural_sp/blob/cf73c78148d5e5095f03324fb47e9be9bbd47e32/neural_sp/models/seq2seq/encoders/transformer.py#L373

[2020-06-05 18:46] hirofumi0810 commented on #53
@Cescfangs This is because all timesteps in a chunk might be masked for some utterances in a mini-batch.

[2020-06-06 05:37] Cescfangs commented on #53
Thanks

[2020-06-06 10:37] #53 closed

[2020-06-08 08:36] Park-Jong-Min opened #59 "How much GPU memory do we need to run librispeech lstm_mocha.yaml?"
I try to run lstm_mocha.conf script in librispeech example.
But, out of memory occurs in a 24GB size GPU when I try to run the scripted with reference batch_size (30).
How much GPU memory is need for librispeech lstm_mocha.yaml?
Or, Can I get similar WER rate with accum_grad_n_steps option with lower batch_size in lstm_mocha.yaml?

[2020-06-08 14:56] hirofumi0810 commented on #59
@Park-Jong-Min I could run the script on a single GPU with 12GB. Can you try to reduce the batch size? I'm not sure how gradient accumulation affects the performance of RNN models.

[2020-06-09 01:57] Gqwert123 opened #61 "The ''decode_streaming'' in speech2text.py did not support the streamming transformer?"
The model [https://arxiv.org/pdf/2005.09394.pdf](url) , But the ''decode_streaming'' in speech2text.py did not support the streamming transformer? It only support rnn model?

[2020-06-09 01:59] Park-Jong-Min commented on #59
Thank you for  your quick response!
I try to run mocha script with single GPU with batch size 30. It works well!

Have you also conducted a test of batch size 30 with multiple GPUs?

[2020-06-09 02:56] shunfeichen opened #62 "TransformerDecoder object has no attribute 'ctc'?"
Hi,
    I trained a word-char mix model.Then I want use /neural_sp/bin/asr/eval.py for decoding. When I set recog_ctc_weight = 0.6, it happened the error  "TransformerDecoder object has no attribute 'ctc' ". How can I solve it ? Thank you. And if I set recog_ctc_weight = 0.0, It will decode successful.The following list is my decode parameter:
--recog_metric edit_distance
--recog_batch_size 1
--re

[2020-06-10 08:59] zhazhuanling opened #63 "torch version is not valid for warmctc_pytorch torch's"
Hi, I have met a problem for warmctc_pytorch, which torch's version is installed rightly in version 0.4, but this code is based on torch-1.0.0.
Are there any friends have solved this? Help!

Thanks!

[2020-06-11 08:26] hirofumi0810 commented on #59
No, I always use a single GPU for RNN models.

[2020-06-11 08:36] Cescfangs opened #65 "what's the intention of mocha first layers?"
https://github.com/hirofumi0810/neural_sp/blob/78fa843e7f9b27b93a57099104db49d481ff95bb/neural_sp/models/seq2seq/decoders/transformer.py#L190-L194

hey, I notice there'll be `mocha_first_layer - 1` transformer blocks without encoder-decoder attention, what's the intention of it? And I copied the neural_sp transformer decoder into espnet, training will not converge if  `mocha_first_layer ` set to 4

[2020-06-11 08:39] hirofumi0810 commented on #65
@Cescfangs Did you train the streaming decoder? or the normal Transformer decoder?

[2020-06-11 08:40] Cescfangs commented on #65
streaming decoder

[2020-06-11 08:41] hirofumi0810 commented on #65
Can you show me the encoder-decoder attention plotting?

[2020-06-11 08:48] Cescfangs commented on #65
OK, but this will take sometime

[2020-06-11 08:50] hirofumi0810 commented on #65
Also, I'd like to know the performance when `mocha_first_layer=1`.

[2020-06-12 02:01] Cescfangs commented on #65
So I train the MMA decoder with very small dataset(1000utts), the perfermance may not be good, but I think it's effective for debugging, here is the acc plot and the first layer encoder-decoder attention plot:
**Espnet default non-stream transformer decoder:**
![acc](https://user-images.githubusercontent.com/11382612/84456049-9a77cf80-ac91-11ea-8bc5-5ff1312db737.png)
![decoder decoders 0 src_attn]

[2020-06-12 02:05] hirofumi0810 commented on #65
I think there are some mistakes in your implementation or you misunderstand something.
As hard monotonic attention is not globally normalized over time indices, such vertical lines should not appear.
If the model does not learn anything, attention weights should be all zero.

[2020-06-12 02:06] Cescfangs commented on #65
I see, so what's the intention behind `mocha_first_layers` indeed?

[2020-06-12 02:09] hirofumi0810 commented on #65
In my implementation, the cross attention in lower layers is not learnt well.
So I removed such attention to encourage the rest layers to learn alignments correctly.
You can find more details in https://arxiv.org/abs/2005.09394.

[2020-06-12 02:10] hirofumi0810 commented on #11
@widdiot Now this is fixed!

[2020-06-12 02:10] #11 closed

[2020-06-12 02:11] Cescfangs commented on #65
Thank you, I'll re-check my implementation

[2020-06-12 02:11] hirofumi0810 commented on #14
@Dabuk You can find a configuration in tedliume2.

[2020-06-12 02:43] Cescfangs commented on #65
I re-checked the plot_attention part, found it was not plotting the attention weight between encoder-decoder, the x-axis is actuall attention dim(256), I ll update attention plots later

[2020-06-13 01:44] #14 closed

[2020-06-14 05:12] Park-Jong-Min commented on #59
Thank you!!!

[2020-06-14 05:13] #59 closed

[2020-06-15 05:24] Park-Jong-Min opened #67 "How can I reproduce mocha WER in Librispeech?"
I want to reproduce Librispeech MOCHA WER in this paper (CTC-synchronous Training for Monotonic Attention Model).
When I use conf file "lstm_mocha.yaml" in librispeech example, it was reduced from 700% wer at first to 100% wer at 35 epoch without lm.
I just change conf in run.sh and training with 1 GPU.
I would like to know if there is anything else that needs to be modified to make the wer in add

[2020-06-15 05:39] hirofumi0810 commented on #67
How was the learning curve? I think you have the transition of WER during training.

[2020-06-15 06:10] Park-Jong-Min commented on #67
My learning curve is looks weird.
![image](https://user-images.githubusercontent.com/33490998/84623451-3ddb1580-af1a-11ea-8f88-e60611cafd17.png)

[2020-06-15 06:12] hirofumi0810 commented on #67
How was the accuracy

[2020-06-15 06:14] Park-Jong-Min commented on #67
This is my acc plot.
![image](https://user-images.githubusercontent.com/33490998/84623728-d8d3ef80-af1a-11ea-96e7-07776672d4ab.png)

[2020-06-15 06:18] hirofumi0810 commented on #67
I will show you the plotting of the model used in the paper.
![loss](https://user-images.githubusercontent.com/17924227/84623954-60216300-af1b-11ea-8ddb-c8591449d1d4.png)
![acc](https://user-images.githubusercontent.com/17924227/84623955-61eb2680-af1b-11ea-98b3-ea0189dcdc4f.png)
![edit_distance](https://user-images.githubusercontent.com/17924227/84623960-63b4ea00-af1b-11ea-8741-b415bb6dac6a.png)

[2020-06-15 06:29] Park-Jong-Min commented on #67
thank you, i'll try to replot it.

[2020-06-15 08:15] Cescfangs commented on #65
here I give the last layer encoder-decoder attention plots since the `mocha_first_layer - 1` layers have no `src_att`:
**Espnet default non-stream transformer decoder:**
![decoder decoders 5 src_attn 1ep](https://user-images.githubusercontent.com/11382612/84633240-ad550300-af22-11ea-88e3-be234d70f211.png)

**MMA decoder, mocha_first_layer=0(using mocha for all decoder layers):**
![decoder layers 5

[2020-06-15 08:27] hirofumi0810 commented on #65
My question is
- How many epochs did you run?
- What dataset did you use?
- Did you use the regularization method I proposed?
- What is the WER of the baseline offline Transformer?

Cross attention in the offline Transformer also seems weird.

[2020-06-15 08:36] Cescfangs commented on #65
* the plots above from very small dataset(1000utts) for 1 epoch(for fast debugging), the perfermance may not be good, but I think it's effective for debugging
* I also trained the mma-decoder(mocha_first_layer=0) for about 1000 hours data, and the final acc is competitive to offline version
* regularization method were not used yet

[2020-06-15 08:42] hirofumi0810 commented on #65
Please report your results once the model converges.
Note that accuracy does not necessarily transfer to the final WER in my experience.
Also, changing `mocha_first_layer` only does not work.

[2020-06-15 09:12] wbgxx333 opened #68 "conv_conformer error"
thank you for your contribution.and i want to test conformer,but the error:
train.py: error: argument --enc_type: invalid choice: 'conv_conformer' (choose from 'blstm', 'lstm', 'bgru', 'gru', 'conv_blstm', 'conv_lstm', 'conv_bgru', 'conv_gru', 'transformer', 'conv_transformer', 'conv', 'tds', 'gated_conv')

[2020-06-15 12:26] Cescfangs commented on #65
I test my 1000h-data streaming model, the perfermance is bad because lower decoder layers make very confused alignments, now I get the idea of so called "attention heads pruning in lower layers"

1st decoder layer:
![decoder layers 0 src_attn 41ep](https://user-images.githubusercontent.com/11382612/84656786-d470fc00-af45-11ea-91f4-39c195c5af94.png)
last decoder layer:
![decoder layers 5 src_attn 4

[2020-06-15 12:28] hirofumi0810 commented on #65
@Cescfangs Amazing! If you can reproduce the results, can you consider sending PR to espnet?

[2020-06-15 12:33] Cescfangs commented on #65
definitively

[2020-06-17 04:59] Park-Jong-Min commented on #67
I try to replot it. loss and acc look similar but still WER is too high.
I use beam search width 1 which means greedy decoding.

My decoding result looks like _**as prose to me and a later streets of stern with throngs of well rescue families in way either in the world's and a little and a little and a little and a little and a little and a little and a little and a little and a little and a littl

[2020-06-17 05:04] hirofumi0810 commented on #67
I have never experienced such behaviors.
One simple debugging is to train the model with a bidirectional encoder.
The optimization should be easier.

[2020-06-20 16:01] #68 closed

[2020-06-22 07:36] hirofumi0810 commented on #62
@shunfeichen Did you included the CTC loss during training?

[2020-06-24 08:50] #10 closed

[2020-06-26 09:11] WanderingSven opened #76 "python: can't open file 'check_install.py': [Errno 2] No such file or directory"
hello,everyone. When I install neural_sp, the error that "python: can't open file 'check_install.py': [Errno 2] No such file or directory"
occur. At the same time, I cannot find check_install.py. what should I do to solve this problem.

![图片](https://user-images.githubusercontent.com/26950286/85841057-1d3f7500-b7d0-11ea-8086-d345dea99986.png)

[2020-06-30 01:41] Nakachi-S opened #81 "How can I use external LM and fusion LM?"
Using the script here as an example, I ask the question.
https://github.com/hirofumi0810/neural_sp/blob/master/examples/csj/s5/run.sh

I think, If you run that script as is , you're not using the LM you learned in stage 3, are you?
So I stopped learning at stage 3 and started relearning at stage 4, specifying the language model created in stage 3.

Add the following options as arguments to train.p

[2020-06-30 03:42] Park-Jong-Min commented on #67
![image](https://user-images.githubusercontent.com/33490998/86080846-cb983280-bace-11ea-9d58-57058deba710.png)
 After I fix quantity loss to 0.05 it shows similar edit distance!

[2020-06-30 15:21] hirofumi0810 commented on #67
@Park-Jong-Min Great. Did you use 0.01 before? Actually, this number is tuned with BLSTM/LS-BLSTM encoders.
I will try 0.2 with the unidirectional encoder. Thank you for your report!

[2020-06-30 15:40] Park-Jong-Min commented on #67
Yes, I use 0.01 before.

[2020-06-30 16:44] hirofumi0810 commented on #81
@Nakachi-S Yes. If you want to use cold/deep fusions, you have to stop at stage once.
This is because the LM directory name is defined in python scripts.

[2020-07-01 04:50] Nakachi-S commented on #81
@hirofumi0810 Thank you for reply!
I resumed ASR training as you suggest, specifying the language model from stage 4.
(The added options, which are Lm_fusion and external_lm, are described above comment .)

Learning the first epoch works well.
But then, the following error occurs during the evaluation.

[code]

[2020-07-02 00:18] #1 closed

[2020-07-02 00:19] #67 closed

[2020-07-02 00:43] hirofumi0810 commented on #81
@Nakachi-S Thank you for your report. I fixed this in #87.
Please try the latest code.

[2020-07-03 14:49] Nakachi-S commented on #81
It works!!!
Thank you your help!

[2020-07-03 14:49] #81 closed

[2020-07-06 03:41] xqq2018rebuild opened #101 "aishell test set decoded by streaming transformer cer cannot reach 6.6"
train config:
conf/asr/transformer_mma/lc_transformer_mma_mono4H_chunk4H_chunk16_from4L_headdrop0.5_subsample8_96_64_32.yaml
Because CUDA doesn't have enough memory, I change batch_size from 32 to 16;

decode config
metric=edit_distance
batch_size=1
beam_width=10
min_len_ratio=0.0
max_len_ratio=1.0
length_penalty=2.0
length_norm=false
coverage_penalty=0.0
coverage_threshold=0.0
gnmt_decoding=false

[2020-07-06 04:08] hirofumi0810 commented on #101
@xqq2018rebuild Can you show me the detailed errors including del/ins/sub?

[2020-07-06 08:03] xqq2018rebuild commented on #101
@hirofumi0810 Thanks for you help.
detailed errors(aishell test):
sub  9382 del 23947 ins   520 ref104765
sub  8.96 del 22.86 ins  0.50 wer 32.31
total sentence 7176, right sentence 1419, WER/SER: 32.31/80.23

[2020-07-06 12:06] hirofumi0810 commented on #101
What is the attention behaviour? Unfortunately, I cannot find the solution from that information only. I will reproduce it on the current codebase. Please wait for a few days.

[2020-07-07 01:00] xqq2018rebuild commented on #101
Thank you. I will analyze the attention behaviour recently.

[2020-07-08 13:22] hirofumi0810 commented on #101
@xqq2018rebuild I trained the streaming MMA models with the current code and could outperforme the best results.
How was the attention plotting shown during training?

[2020-07-09 09:03] xqq2018rebuild commented on #101
yy_aws_layer5
![下载](https://user-images.githubusercontent.com/41471880/87019454-3818dd00-c205-11ea-9df8-9b040983e19f.png)
yy_aws_layer4
![yy_4](https://user-images.githubusercontent.com/41471880/87019701-8037ff80-c205-11ea-817f-a864aec5bdc8.png)
yy_aws_layer3
![yy3](https://user-images.githubusercontent.com/41471880/87019953-d147f380-c205-11ea-9ec0-a43ca0684219.png)
yy_aws_layer2
![yy2](https://us

[2020-07-13 09:40] sean186 opened #110 "【CIF】Is the model available ？"
HI，I saw that models / modules have CIF models. Have you done any testing on relevant data? What is the effect? I didn't find the relevant conf.
If not, is there any plan to supplement it?

Look forward to your reply~
Thank you

[2020-07-14 06:26] JiayiFu opened #111 "How much does the LM affect the WER in the Librispeech recipe?"
Hi,
  I'm new to neural_sp and I found it's really a good project. The results showed in the Librispeech recipe readme is very good. I'm trying to reproduce the results using the recipe and I want to know how much does the LM affects the WER? For example, if I only train a model(Transformer + speed perturb + SpecAugment) without the LM, how about the performance on the test sets?
  I also found th

[2020-07-14 09:58] hirofumi0810 commented on #111
Hi @JiayiFu, strong LM is essential to reproduce the SOTA results on Librispeech, especially for Transformer.
If I remove LM fusion, WER drops by about 3.0 absolutely in general.

I just implemented Conformer, but there are a lot of unclear parts in the paper.
I would be grateful if you could take a look at codes (and play them a little bit) and give me some feedback.

[2020-07-14 10:01] hirofumi0810 commented on #110
@sean186 CIF is under development. I'm still struggling with reproducing the results with it.
I will support CIF after I can reproduce it.

[2020-07-14 10:02] hirofumi0810 commented on #101
@xqq2018rebuild hmm, training looks very good. Can you try it again with the latest codebase?

[2020-07-14 10:51] JiayiFu commented on #111
@hirofumi0810 Thanks for your reply!

Thanks for your information! Can you tell me how much time the training(AM and LM) will take if I reproduce the recipe on a server with 8 1080Tis?

I'm trying to do some experiments based on Conformer's paper recently and also learning from your codes. If I find something interesting, I will tell you. Thanks!

[2020-07-14 13:43] FzuGsr commented on #110
Thank you for your reply!
I am looking forward to it.

[2020-07-16 01:42] iehppp2010 opened #113 "Question about the SpecAugment configuration in aishell example"
First ,thanks to your great work!

I am new to neural_sp. I have a question about the SpecAugment configuration in aishell example.
In **README.md** of aishell:

**Transformer + SpecAugment (no LM)**
conf: conf/asr/transformer.yaml
decoding parameters
n_average: 10
beam width: 5
Eval Set | # Snt | # Wrd | Corr | Sub | Del | Ins | Err | S.Err
-- | -- | -- | -- | -- | -- | -- | -- | --
dev | 14326 |

[2020-07-16 02:11] xqq2018rebuild commented on #101
ok, I'll try again

[2020-07-16 09:35] cywang97 opened #115 "How many gpus do you use for aishell dataset?"
Hi,  I realize the `accum_grad_n_step` argument is set to 8 in transformer.yaml, I want to know that how many gpus do you use when you train models for this setting.  Should I change it to 2 when I use 4 gpus to reproduce your results?

[2020-07-16 13:54] cywang97 opened #116 "bug: bugs when use multi-gpu training"
Hi, hiro, I use multi GPU to train an ASR model.  It seems torch.nn.parallel.DataParallel won't scatter the dict input. You should overwrite the scatter function in CustomDataParallel function to make sure each item in the dict can be scattered on different devices.

[2020-07-16 17:28] hirofumi0810 commented on #115
Hi @cywang97, I usually use a single GPU on AISHELL-1:)
In general, a good rule of thumb is to reduce accumulation when using multiple GPUs to keep total mini-batch size at a single parameter update step.
Maybe accum8 + 4GPUs leads to too slow convergence.

[2020-07-16 18:51] hirofumi0810 commented on #116
@cywang97 Thank you for your report. As I usually use a single GPU, I didn't notice that. I will check and fix it.

[2020-07-17 09:24] hirofumi0810 commented on #113
@iehppp2010 You need to set `--conf2` to `conf/data/spec_augment_speed_perturb_transformer.yaml`.
I will update README.md for clarity.

[2020-07-18 01:23] xqq2018rebuild commented on #101
I try again with teh latest codebase. The results as follows(No language model is used):
dev set:
sub 12950 del   265 ins   263 ref205341
sub  6.31 del  0.13 ins  0.13 wer  6.56
total sentence 14326, right sentence 7889, WER/SER: 6.56/44.93
test set:
sub 12950 del   265 ins   263 ref205341
sub  6.31 del  0.13 ins  0.13 wer  6.56
total sentence 14326, right sentence 7889, WER/SER: 6.56/44.93

[2020-07-18 01:26] #101 closed

[2020-07-18 09:06] iehppp2010 commented on #113
@hirofumi0810 Thanks for your answer, I'll close this.

[2020-07-18 09:06] #113 closed

[2020-07-18 09:55] sean186 commented on #76
hello, I have the same problem. Have you solved it ? thank you

[2020-07-18 11:00] hirofumi0810 commented on #76
@WanderingSven @sean186 This was fixed in #114.

[2020-07-18 11:03] hirofumi0810 commented on #111
@JiayiFu The best model takes 2 weeks with a single GPU. LM takes 3-4 weeks with a single GPU.
I don't tune configuration for multi-GPU training so much. But your contribution is welcome.

[2020-07-19 03:55] JiayiFu commented on #111
@hirofumi0810 I get it. Thanks for your info!

[2020-07-19 03:55] #111 closed

[2020-07-28 08:31] sean186 commented on #110
hello @hirofumi0810 can you reproduce cif now ?

[2020-08-03 02:04] xcrpkuss opened #123 "how can this project do keyword spotting task?"

[2020-08-12 01:28] Gqwert123 commented on #49
Hi，Does the current version support transformer streaming decoding？

[2020-08-17 03:12] boji123 opened #126 "about the bug when decoding streaming ASR"
`2020-08-17T03:05:45.568884032Z   File "neural_sp/neural_sp/models/seq2seq/decoders/transformer.py", line 968, in beam_search
2020-08-17T03:05:45.568887299Z     rightmost_frame = max(0, aws_last_success[0, :, 0].nonzero()[:, -1].max().item()) + 1
2020-08-17T03:05:45.568890475Z RuntimeError: invalid argument 1: tensor must have one dimension at /pytorch/aten/src/TH/generic/THTensorEvenMoreMath.cpp:

[2020-08-17 03:13] boji123 commented on #126
cofig is
`conf/asr/transformer_mma/lc_transformer_mma_subsample8_ma4H_ca4H_chunk16_from4L_64_128_64.yaml`

[2020-08-17 03:15] boji123 commented on #126
Codes I call the decoder is
`local/score.sh \
    --data data \
    --model results/asr/train_sp/conv2Ltransformer256dmodel2048dff12L4Hpeadd_chunkL64C128R64_mask_max_pool8_transformer256dmodel2048dff6L4Hpe1dconv3Lmocha_ma4H_ca4H_w16_bias-2.0_share_from4Ldrophead0.5_noam_lr5.0_bs16_ls0.1_warmup25000_accum8_ctc0.3/model.epoch-25 \
    --n_average 10 \
    --beam_width 10 \
    --lm_weight 0.3 \

[2020-08-19 14:08] hirofumi0810 commented on #126
@boji123 Can you check the size of `aws_last_success` when this happens?
I could not reproduce this.

[2020-08-19 14:08] hirofumi0810 commented on #123
@xcrpkuss At this time, the answer is no.

[2020-08-19 14:09] #76 closed

[2020-08-19 14:10] hirofumi0810 commented on #110
@sean186 No. Please wait a little more.

[2020-08-20 01:36] boji123 commented on #126
this error not always occurs.
decoding can continue when I comment these logging codes

[2020-09-02 13:16] kangj13 commented on #116
Hi, I met similar problem using multi GPUs.
![image](https://user-images.githubusercontent.com/5909894/91987820-1baaa400-ed61-11ea-97b1-be9c20815377.png)
It seems all parameters are only on GPU 0 and inputs on GPU 1.

[2020-09-04 07:05] zhazhuanling opened #130 "what's the purpose using trigger_points returned from ctc or trigger_points is None"
https://github.com/hirofumi0810/neural_sp/blob/master/neural_sp/models/seq2seq/decoders/transformer.py#L332-L345

[2020-09-09 07:34] #116 closed

[2020-09-10 11:06] #115 closed

[2020-09-12 01:10] #123 closed

[2020-09-12 01:36] mlxu995 commented on #126
I also meet this error.
To solve it, I just check the length before carry out "aws_last_success[0, :, 0].nonzero()[:, -1].max()".  If it got 0, I set rightmost_frame to 0.
But I think this is not resonable. If you have any other solution, please let me know. Thanks.

[2020-09-13 12:36] mlxu995 opened #137 "Aboult the warmup_n_steps and accum_grad_n_steps usd in Aishell"
In the config transformer.yaml, "n_epochs=30, batch_size=32, warmup_n_steps=25000, accum_grad_n_steps=8".
Under the above config, I got a learning rate curve which went straight up until the end of the training.
And the result is not good as it reported in this project.
I need assistance, really appreciate. @hirofumi0810 @boji123

[2020-09-15 06:18] zh794390558 opened #140 "why not add decode step in run.sh?"

[2020-09-16 06:22] #140 closed

[2020-09-18 10:05] shunfeichen opened #143 "how to decoding sub task model in multi-task learning model?"
Hello,
      I want to obtain the output of the sub1 task learning ,how should I do? or is there about script?
Thank you.

[2020-09-21 11:17] LeonWlw commented on #61
I also meet this situation.
I trained model with conf/asr/transformer_mma/lc_transformer_mma_subsample8_ma4H_ca4H_chunk16_from4L_32_32_32.yaml on aishell corpus. It could decode test_set in offline mode. When I set recog_chunk_sync true for decode_streaming, it failed. There seems many APIs about decode_streaming NotImplemented.
@hirofumi0810  Do u have the plan to finish it? I can't wait to use i

[2020-09-22 03:00] shunfeichen opened #147 "about the transfer learning in neural_sp"
Hi ,
    I want to know the effective of transfer learning in this tool, I try to set resume, asr_init , and there is no obviously imporve.

Thank you very much.

[2020-09-22 09:15] hirofumi0810 commented on #147
@shunfeichen Can you clarify source and target domains?

[2020-09-22 09:20] hirofumi0810 commented on #143
@shunfeichen You can get sub-task's outputs by specifying `task` in https://github.com/hirofumi0810/neural_sp/blob/master/neural_sp/models/seq2seq/speech2text.py#L599.

[2020-09-22 09:20] hirofumi0810 commented on #137
I have never met such a situation. Did you modify the config file?

[2020-09-22 09:22] hirofumi0810 commented on #130
@zhazhuanling This is for the internal research purpose.

[2020-09-22 12:06] shunfeichen commented on #147
Thank you , I have  obtained it. And by the way ,  I find the last wav in the test will be ignored during decoding.

[2020-09-22 12:08] shunfeichen commented on #143
Thank you , very much. I have obtained it. And by the way , I find the last wav in the test will be ignored during decoding.

[2020-09-22 12:17] shunfeichen commented on #147
Thank you, I find it's work well. I want to use the model trained by librispeech as the source domain, and train an accent ASR model using small data. Now, I tried to set asr_init , it will has a little imporve,  and the longer train epoch, the effect will better. I want to try use teacher model

[2020-09-23 10:25] zh794390558 opened #150 "multi gpu training aishell error"
[code]

[code]

how to fix this?
commit 66a88653890dbca554cf9e983867920d744591bd

[2020-09-25 01:32] shunfeichen opened #153 "transformer LM error in ASR"
Hi,
     I want to use transformer LM in ASR ,but when decoding it is wrong , it shows " TypeError :list indices muts be intergers or slice, not str" at /models/seq2seq/decoders/transformer.py line 814. How can I solve it ?

Thank you very much.

[2020-09-25 12:48] chengdongliang opened #154 "aishell run.sh error, segmentation fault"
run.sh: line 186:  9762 Segmentation fault      (core dumped) CUDA_VISIBLE_DEVICES=${gpu} ${NEURALSP_ROOT}/neural_sp/bin/asr/train.py --corpus aishell1 --config ${conf} --config2 ${conf2} --n_gpus ${n_gpus} --cudnn_benchmark ${benchmark} --train_set ${data}/dataset/${train_set}.tsv --dev_set ${data}/dataset/${dev_set}.tsv --eval_sets ${data}/dataset/${test_set}.tsv --unit ${unit} --dict ${dict} --

[2020-09-28 05:55] hirofumi0810 commented on #150
I think this depends on the pytorch version. Which version did you use?

[2020-09-28 06:52] zh794390558 commented on #150
'1.5.1+cu101'

[2020-09-28 08:08] yanghb2020 commented on #61
me too, I got NotImplementedError when i use transformer encoder for streaming decode.

[2020-09-29 14:12] dh7ahn opened #157 "Error during training librispeech model, in multi-gpu mode"
I've got the following error message from stage 3 (training lm) during training librispeech model in the example directory.
**AttributeError: 'numpy.ndarray' object has no attribute 'items'**
Checking the corresponding code in data_parallel.py, the variable 'input' is found to be of type 'ndarray', but the code tries to call 'input.items()' though 'input' is not a dictionary type. Is there anythin

[2020-09-30 02:35] t13m opened #158 "Question on masking in transformer encoder"
Hello Mr. Hirofumi, thanks for opening source this excellent repository. Here I have some questions about the masking mechanism in transformer encoder:

In the code here
https://github.com/hirofumi0810/neural_sp/blob/3be0bac8a1b009ee36f10ca901f4c64160a5ce45/neural_sp/models/seq2seq/encoders/transformer.py#L394
there is a note says: `# NOTE: no mask to avoid masking all frames in a chunk`. If you w

[2020-10-01 09:42] hirofumi0810 commented on #158
All frames in the tail chunk in some utterances might be completely masked out. That's why I did set `xx_mask` to None. But I'm trying to implement the strict masking in the tail chunk now.

Regarding 'mask' option, the context size will be accumulated according to the depth.
'reshpae' option avoids this by trading memory consumption.

[2020-10-01 09:42] hirofumi0810 commented on #154
How many GPUs did you try to use?

[2020-10-01 09:43] hirofumi0810 commented on #150
OK. I will fix it.

[2020-10-01 13:43] chengdongliang commented on #154
I use two GPUs. I solved this problem by updating the pytorch version. Now, there is no problem with single GPU now.

[2020-10-10 06:55] zh794390558 opened #161 "install problem"
https://github.com/hirofumi0810/neural_sp/blob/master/tools/Makefile#L63
should using warp_rnnt==0.4 for torch1.5.1+cu101, gcc 7.3, python 3.7.

torch installed many time, by pip, conda, and setup.py.

[2020-10-10 07:10] zh794390558 opened #162 "rnn transducer param error"
no `glu_joint_net` param now.

[2020-10-10 11:13] zh794390558 opened #163 "what's the mean of `hie` in config"

[2020-10-12 06:21] kunazure opened #165 "Multi GPU training speed"
Hello ， I am using neural_sp to train aishell-1 and another task, but I find that when i use 4 GPU to train ASR model,  it needs 8 hours per epoch, which is slow than I use single GPU，the time even grow when I add more GPU. Do you have this problem or there is something wrong with my envirment?
I use your tools to install the envirment,  python=3.7.9 and pytorch=10.0 ,with cuda 10.1。

[2020-10-12 08:20] t13m commented on #158
Thank you. Will it make any differences on parameter updating or final performance result if all frames of some padded tail chunks are masked out?

[2020-10-13 07:58] zh794390558 opened #168 "accum_grad loss error"
https://github.com/hirofumi0810/neural_sp/blob/a02c92930988fe079a6aeea8271cfaaa69a447bd/neural_sp/bin/asr/train.py#L321

should divide loss by `accum_grad_n_steps`

[2020-10-14 07:43] #168 closed

[2020-10-14 10:19] hirofumi0810 commented on #163
It means hierarchical downsampling.

[2020-10-15 03:06] #163 closed

[2020-10-16 02:27] SongJaeYun opened #173 "Reproduce paper performance"
Hello!
Thank you for making your code public.

I hope to reproduce performance in the paper, but
I failed to reproduce it several times.

1. Is hyperparameters used in the paper same with the conf file you upload?

2. Could you let me know important hyperparameter to reproduce performance?

3. The possible reason could be language model I trained. Would you give me pretrained language model file?

[2020-10-19 06:24] zh794390558 opened #174 "what is the rnn-t err rate in aishell and librispeech"

[2020-10-21 11:59] zh794390558 opened #175 "rnn-t always encounter double free error"
`Error in `conv2Lblstm512H5L_sumfwdbwd_chunkL-1R40_drop4_lstm_transducer1024H2L_adam_lr0.001_bs4_accum8_ctc0.3_2': double free or corruption (fasttop): 0x000055de29c92210 ***`

[2020-10-25 12:22] FzuGsr commented on #150
Hi, hiro
I made an error running the aishell training language model with multiple GPUs.
It seems to be a data parallelism error:
[code]

[2020-10-28 10:15] FzuGsr opened #177 "How can I reproduce WER in Librispeech?"
Hi,I want to reproduce Librispeech WER in this project.
I tried to run the script blstm_las with 3 gpus and  batch_size 128, but I couldn't get the result in readme.
My training results are as follows
[code]
Is there a problem? How to achieve the accuracy of readme (dev-other: 91.7).

![image](https://user-images.githubusercontent.com/17610399/97422777-4112f300-1949-11eb-8bf2-37abd665e5a6.png)
![i

[2020-10-28 10:50] hirofumi0810 commented on #177
@FzuGsr Did you use SpecAugment?

[2020-10-28 10:58] FzuGsr commented on #177
no，I run run.sh directly

[2020-10-28 11:08] hirofumi0810 commented on #177
That is the reason. Please use `--conf2 data/spec_augment.yaml` and initialized parameters with the pre-trained model by setting `--asr_init path_to_your_model`.

[2020-10-29 05:45] hirofumi0810 commented on #174
I'm currently working on RNN-T on TEDLIUM2 and Librispeech.
I'll add config after tuning. Stay tune!

[2020-10-29 05:47] hirofumi0810 commented on #173
Which paper do you mention?

[2020-10-29 05:48] hirofumi0810 commented on #158
@t13m I checked it and found that the explicit tail masking did not change the performance.

[2020-10-29 05:49] hirofumi0810 commented on #175
Could you tell me your environment?

[2020-10-29 05:50] hirofumi0810 commented on #165
Hi, I think it's time to use DDP in pytorch. I'm still working on it internally. I'll update code soon.

[2020-10-29 05:51] hirofumi0810 commented on #157
I recommend using a single GPU for LM training though I will fix the bug.

[2020-10-29 06:03] FzuGsr commented on #177
Thank you .
I will try it later.

[2020-10-29 08:27] SoonSYJ opened #178 "About the performance of the chunk-hopping mechanism"
Have you done some evaluation of the chunk-hopping encoder. How about the performance?

[2020-11-03 02:52] zh794390558 commented on #175
pytroch1.5.1 cuda=10.1 python 3.7

[2020-11-04 09:06] dengxiaotian123 opened #181 "Makefile error"
When installing warp-ctc with GPU, the variable CUPY_VERSION should be CUDA_VERSION. Otherwise, the CPU version will be installed. Then, run satge=4 ,there will be a message: AttributeError: module 'warpctc_pytorch' has no attribute 'gpu_ctc'

[2020-11-05 02:34] zh794390558 opened #182 "asr score error"
[code]

cmmond:
[code]

dataset:
[code]

[2020-11-06 05:47] Alex-Songs commented on #61
me,too. I hope the author will complete it.

[2020-11-06 06:36] Alex-Songs opened #183 "Hello, does Transformer have not implemented beam_search_chunk_sync yet? So how does MMA test?"
Hello, does Transformer have not implemented beam_search_chunk_sync yet? So how does MMA test?

[2020-11-06 06:52] Alex-Songs commented on #183
Can you provide some sample scripts for MMA decoding? Thanks! @hirofumi0810

[2020-11-06 07:14] zyzpower opened #184 "relative positional encoding"
Hi, which dataset/configuration is relative positional encoding implemented? Is the transformer-XL implemented in encoder?

[2020-11-09 14:46] stefan-falk opened #186 "Librispeech results"
I just have a question regarding these results:

![image](https://user-images.githubusercontent.com/43335432/98555710-8e288a80-22a2-11eb-8b72-8f315b0d8285.png)

What training data has been used there? Was it the entire `train` set or only the `clean` audios were these results evaluated by simulating audio-streaming?

[2020-11-12 11:41] hirofumi0810 commented on #186
Training data is the standard 960-hour set.

[2020-11-12 11:42] stefan-falk commented on #186
Thank you :)

[2020-11-12 11:42] #186 closed

[2020-11-16 09:54] lfgogogo opened #189 "aishell reproduce"
Hi,hiro,thank you for your work！
I'm reproducing the aishell result now,but i can't get it.Here is the conf:
conf: conf/asr/mma/lc_transformer_mma_subsample8_ma4H_ca4H_w16_from4L_64_128_64.yaml
lm_conf: conf/lm/rnnlm.yaml
And i have some doubts:
1、I check the result folder after training and find only model.epoch-8 in LM folder, when i use the LM model in the score.sh,the result is worse than not

[2020-11-16 10:00] lfgogogo commented on #189
The specaug conf is conf/data/spec_augment_speed_perturb_transformer_subsample8.yaml.

[2020-11-21 02:51] lfgogogo commented on #189
I make a mistake,i copy the exactly same conf from librispeech,after i choose the hie-added conf in the aishell,problem 1 is solved,although i still not know why.
Because i don't want to run score.sh twice for editdistance-with-lm and  editdistance-without-lm,i change the conf metric accuracy to editdistance,then raise problem 3,i'm finding the reason.
As for problem 2,i haven't try yet.

[2020-11-23 01:41] #189 closed

[2020-11-25 10:02] zyzpower opened #190 "module 'warpctc_pytorch' has no attribute 'gpu_ctc'"
Hi, I am trying to reproduce the transformer result on Librispeech, however at stage 4, I encounter an error of "module 'warpctc_pytorch' has no attribute 'gpu_ctc' " when calculating the ctc loss. Any idea why?

[2020-11-30 08:16] hirofumi0810 commented on #181
@dengxiaotian123 Did you set path to CUDA, NCCL before installation?

[2020-11-30 08:16] hirofumi0810 commented on #190
@zyzpower Did you set path to CUDA, NCCL before installation?

[2020-12-03 13:21] #177 closed

[2020-12-03 14:16] zyzpower commented on #190
hi, you mean this setting right
CUDAROOT=/usr/local/cuda
NCCL_ROOT=/usr/local/nccl

[2020-12-09 06:14] Jungwon-Chang opened #201 "Error while training models"
Hello, I'm trying to train MoCha with TED-LIUM 2(conf/asr/mocha/lstm_mocha.yaml).
However, there seems to be a problem, since I get an error which states,

[code]

my environment settings are as followed
[code]
If there are specific versions for CUDA and pytorch that you suggest, please let me know.

[2020-12-09 06:17] Jungwon-Chang commented on #201
Also, is there a method to online decode .wav files or features via trained models(MoCha, MMA)?

[2020-12-16 08:46] lijianhackthon opened #210 "The function eval_wordpiece in asr/eval.py doesn't support keyword argument 'teacher_force'"
Hi @hirofumi0810 , thanks for your great work.

I'm now trying the csj example. I've passed the training phase using the `run.sh` script and got the model successfully. The conf file that I'm using is the default `conf/asr/blstm_las.yaml`.

When I tried the local/score.sh for evaluation, I got an error that says **TypeError: eval_wordpiece() got an unexpected keyword argument 'teacher_force'**. He

[2020-12-16 11:11] hirofumi0810 commented on #210
@lijianhackthon Thank you. This is indeed a bug. I'll fix by tomorrow and add some test codes for inference.

[2020-12-18 09:31] #210 closed

[2020-12-18 09:43] hirofumi0810 commented on #201
@Jungwon-Chang Thanks, I'll fix it today.
Regarding streaming recognition from mic. input and wav files, I'll support them by next month. Stay tune!

[2020-12-19 18:45] #201 closed

[2020-12-22 02:20] lfgogogo opened #218 "About average_checkpoints in neural_sp/bin/eval_utils.py."
I have reproduced the result of aishell,but when i check the weight files,i find model-avg10 is about one fifth size of the others.
I only see computing average in the average_checkpoints，how can this process decreases the size of the model,just like quantization.
I also use the distiller to make comparison，the model-avg10 is almost the same size as quantization model.

[2020-12-22 09:52] hirofumi0810 commented on #218
@lfgogogo That is because parameters in the optimizer were removed after model averaging.

[2020-12-23 01:30] lfgogogo commented on #218
@hirofumi0810 Why do model average computing?For speeding up?But i test both,it doesn't seem to improve much,on my test dataset which consists of 30 thousands speeches,the original model.epoch-25 cost 15+ hours,while the averaged model cost 12 huors.Do you have some suggestions for speeding up the process,hiro?Thank you very much.

[2020-12-23 11:05] Jungwon-Chang commented on #154
@chengdongliang Have you trained the model with the new version using multiple gpus??
If so, could you tell me the version of pytorch and CUDA?

[2020-12-24 04:39] Jungwon-Chang opened #223 "Errors in training streaming MMA decoder for librispeech corpus"
Hello hiro. First of all, thank you for your awesome project! It's helping me a lot!

Anyways, I was trying to train MMA decoder for librispeech, with the asr_conf
- conf/asr/mma/streaming/lc_transformer_mma_subsample8_ma4H_ca4H_w16_from4L_64_128_64.yaml

Howevrer, just as the model started to train, an error occured.
The error log was as following:

[code]

There was no problem in training with M

[2020-12-24 12:44] hirofumi0810 commented on #223
This is a bug caused by pytorch compatibility.
You can quickly fix it by `causal_mask = causal_mask.byte()`.
I'll fix it later.

[2020-12-24 14:22] Jungwon-Chang commented on #223
@hirofumi0810 Thanks for the quick reply!

[2020-12-24 14:42] Jungwon-Chang commented on #223
By the way, I think there was a slight mistake in the comment

since the `causal_mask` was array of `uint8` as followed:
[code]

So I temporarily fixed it with `causal_mask = causal_mask.bool()` instead!

[2020-12-25 13:54] xiexukang opened #226 "bash run error"
Traceback (most recent call last):
  File "/home/qidongchen/xxk/neural_sp/examples/aishell/s5/../../../neural_sp/bin/lm/train.py", line 341, in <module>
    save_path = pr.runcall(main)
  File "/home/qidongchen/anaconda3/envs/torch1.15/lib/python3.7/cProfile.py", line 121, in runcall
    return func(*args, **kw)
  File "/home/qidongchen/xxk/neural_sp/examples/aishell/s5/../../../neural_sp/bin/lm/t

[2020-12-25 18:45] jiwidi opened #227 "Need help with instructions to reproduce experiments"
Hi Hiro!

First, thank you for the repo. I've been following for a while and I saw you implement a big number of dl architectures.

So far I was only watching the repo from time to time, but now I would like to see If I can reproduce some results and eventually use it with custom datasets. I tried to reproduce librispeech experiment without success and need some help with it.

I went ahead and fol

[2020-12-27 02:11] lijianhackthon opened #228 "Can't replicate CSJ's LAS results with the default setup."
Hi @hirofumi0810 ,

I'm trying to replicate the results of the LAS model that you shared in this [table](https://github.com/hirofumi0810/neural_sp#csj-wer).

I'm using the default [run.sh](https://github.com/hirofumi0810/neural_sp/blob/master/examples/csj/s5/run.sh) script in the csj example. Till now, I've got two sets of results with or without using external external_lm. The external_lm is also

[2020-12-27 07:19] hirofumi0810 commented on #228
@lijianhackthon I think you missed SpecAugment.

[2020-12-27 09:19] xiaozhouguo94 opened #229 "NaN or Inf found in input tensor"
I trained model on Aishell corpus, and  I found a error in train log: NaN or Inf found in input tensor.

So, how dose it come about? How does it affect the outcome. Thank you.

By the way, your work is excellent !

[2020-12-28 22:03] hirofumi0810 commented on #227
@jiwidi I'll fix `Makefile`. Please retry it after the next PR.

[2020-12-28 22:04] hirofumi0810 commented on #226
@xiexukang Can you show me your command to start training on the terminal?

[2020-12-28 22:05] hirofumi0810 commented on #223
@Jungwon-Chang Thank you! I'll fix it soon.

[2020-12-28 22:06] hirofumi0810 commented on #229
@xiaozhouguo94 What kind of model did you use? Can you show me the error log?

[2020-12-28 22:07] hirofumi0810 commented on #190
@zyzpower I think you failed to compile `warp-ctc` on the GPU mode. Instead, you can also use the native CTC on pytorch.

[2020-12-28 22:08] hirofumi0810 commented on #183
@Alex-Songs I'll add the script soon. Stay tune!

[2020-12-29 02:01] Alex-Songs commented on #183
Thanks

[2020-12-30 05:27] xiaozhouguo94 commented on #229
I use examples/aishell/s5/conf/asr/blstm_las.yaml,
and error log is:
2020-12-15 05:28:59,007 root line:14 WARNING: NaN or Inf found in input tensor.
2020-12-15 05:28:59,007 root line:14 WARNING: NaN or Inf found in input tensor.
2020-12-15 05:28:59,008 root line:14 WARNING: NaN or Inf found in input tensor.
2020-12-15 05:28:59,222 root line:14 WARNING: NaN or Inf found in input tensor.
2020-12-15

[2020-12-30 12:40] jiwidi commented on #227
@hirofumi0810 Hi again,

So I tried to run the same steps as in the original post and now im stuck with the warprnnt make step. My output is:

[code]

Seems like the error is
[code]

I have a rtx 3090 from the latest nvidia gen, do you know if this repo is updated to compile with them? Also, since I want to test the LAS and transformer architecture in librispeech recipe I think i wont need the tra

[2020-12-30 12:41] jiwidi commented on #227
I found this PR on the repo with support for compute 30 https://github.com/HawkAaron/warp-transducer/pull/76, will give it a try and come back

[2020-12-31 06:10] lijianhackthon commented on #228
@hirofumi0810 Thanks a lot for your quick reply.

Based on your suggestion, I added the SpecAugment feature into setup and ran the script again. Here are the final test results,

| Test      | %WER | %CER |
|-----------|------|------|
| csj_eval1 | 7.3  | 6.0  |
| csj_eval2 | 5.3  | 4.2  |
| csj_eval3 | 5.7  | 4.4  |

It indeed improves the accuracy compared to my old setups, which is a good sign.

[2021-01-03 20:11] jiwidi commented on #227
@hirofumi0810 I managed to skip last problem skipping the data validation step (assumming al processing went right) and now I'm stuck at the LM training, it fails due to a cudnn error. I think its related with my cuda installation/rtx3090 and the code and is a new product and it has happened to me with different frameworks already. I have run pytest on the neural_sp root and all 501 test passed so

[2021-01-04 04:43] Jungwon-Chang opened #238 "Unable to reproduce MoCha with librispeech"
Happy new year Hiro!  I have another question about MoCha in ./examples/librispeech

in your paper "CTC-synchronous Training for Monotonic Attention Model(2020)", you've mentioned that LSTM-MoCha achieved
WER of 5.3, 14.5 for librispeech's test-clean and test-other.

However, after I trained the model, I got an absurd WER, which was more than 100%
[code]

So I looked at the decoding results, and t

[2021-01-04 08:36] SoonSYJ commented on #158
Hi @hirofumi0810
I have found that transformer_enc_pe_type 'add' is used with a lc_type 'reshape' in the mma example 'lc_transformer_mma_hie_subsample8_ma4H_ca4H_w16_from4L_64_64_32.yaml'.
In this config, different chunks should have same position encoding. Don't you think it will degrade the performance?

[2021-01-04 10:34] hirofumi0810 commented on #228
@lijianhackthon Great. Can you decode again w/o LM fusion?

[2021-01-05 05:31] lijianhackthon commented on #228
Hi @hirofumi0810 , thanks for the hint. Here are the results of decoding w/o LM fusion. By disabling the lm fusion for decoding, I just left the `lm` variable in `local/score.sh` to be empty. If that's not the way to do it, please let me know.

| Setup                                | %WER for csj_eval1 | %WER for csj_eval2 | %WER for csj_eval3 |
|--------------------------------------|-----------

[2021-01-05 08:25] lfgogogo opened #241 "error while runing score.sh in aishell"
error message:./score.sh:line 64: 841Segmentation fault (core dumped) CUDA_VISIBLE_DEVICES=${gpu} ${NEURALSP_ROOT}/neural_sp/bin/asr/eval.py......
When i ran score.sh,it crashed with giving exact error like the error message.
How to solve it?

[2021-01-05 11:43] lfgogogo commented on #241
I quantize the model using pytorch 1.3,it seems to be successful.When i run score.sh using pytorch 1.3,it gives the error message above,maybe someting wrong happen in the dataload stage.Then i run score.sh using pytorch 1.0.1,it gives the following error message:
AttributeError:can't get attribute '_rebuild_qtensor' ,rise from neuralsp/bin/train_utils.py,the torch.load() in load_checkpoint().

[2021-01-05 16:08] hirofumi0810 commented on #228
LM on CSJ is trained with transcription only. In such a case, E2E models trained with SpecAugment do not obtain any gains. If we can use additional text for training LM, it might be helpful.
So you trained LAS with cold fusion, right?
I think it could lead to a condition mismatch between training and testing.
You can reproduce the result if you remove LM fusion during training.

[2021-01-05 17:03] hirofumi0810 commented on #238
@Jungwon-Chang I notice this. This happens only when using unidirectional LSTM on Librispeech (other corpora is OK). I'll check it again.

[2021-01-05 17:04] hirofumi0810 commented on #227
@jiwidi `--benchmark false` in `run.sh` will fix this.

[2021-01-05 17:05] hirofumi0810 commented on #162
Fixed by #242.

[2021-01-05 17:05] #162 closed

[2021-01-05 17:07] hirofumi0810 commented on #181
Fixed by #232.

[2021-01-05 17:07] #181 closed

[2021-01-05 17:08] hirofumi0810 commented on #174
Results are added by #242.

[2021-01-05 17:08] #174 closed

[2021-01-05 17:09] hirofumi0810 commented on #190
Same issue as #181. Already fixed by #232.

[2021-01-05 17:09] #190 closed

[2021-01-05 17:11] hirofumi0810 commented on #223
Fixed by #232.

[2021-01-05 17:11] #223 closed

[2021-01-05 17:14] hirofumi0810 commented on #241
@lfgogogo Quantization is one of the milestones in this framework. Could you please consider sending a PR?
Also, what kind of model did you try to evaluate?

[2021-01-05 17:15] hirofumi0810 commented on #229
@xiaozhouguo94 Let me check it.

[2021-01-05 17:17] hirofumi0810 commented on #184
@zyzpower Yes. `relative` and `relative_xl` options correspond to relative positional encoding.
But I didn't implement recurrence like Transformer-XL because it breaks the parallel computation.
Transformer-XL LM is already implemented.

[2021-01-06 01:28] lfgogogo commented on #241
Of course.I am not sure about the kind you say. I quantize the model.epoch-25 and the model-avg10 using pytorch1.3 has the quantization module,when i use the quantized model to evaluate,it gives errors above.Besides,i also use package distiller v0.3.2 to quantize the model,this raises an error:Unexpected key(s) in state_dict.I will make a PR soon.

[2021-01-06 03:35] lfgogogo commented on #241
I can't login in github on the pycharm,so i can't pull request now,sorry for that.
Here is how i quantize the model.
`import torch
from neural_sp.bin.args_asr import parse_args_eval
from distiller.quantization.range_linear import PostTrainLinearQuantizer
import distiller.apputils as apputils
from neural_sp.trainers.lr_scheduler import LRScheduler
from neural_sp.trainers.optimizer import set_optimi

[2021-01-06 06:22] Jungwon-Chang commented on #238
Thanks, maybe I'll have to test with other datasets

[2021-01-06 06:42] Jungwon-Chang commented on #238
Thanks, maybe I'll have to test with other corpora

[2021-01-06 06:42] #238 closed

[2021-01-06 20:52] jiwidi commented on #227
@hirofumi0810 Hi! Thanks for the help.

I tried that and now it fails in another step. It does starts the first minibatch though.

[code]

Do you know of anyone who has successfully run this code in rtx 3000 series cards?

[2021-01-11 03:25] lijianhackthon commented on #228
Hi @hirofumi0810 ,

I got the test results of LAS model trained without LM cold fusion. Please see the last two lines of the table below,

| Setup                                                            | %WER for csj_eval1 | %WER for csj_eval2 | %WER for csj_eval3 |
|------------------------------------------------------------------|--------------------|--------------------|-------------------

[2021-01-11 11:36] stefan-falk opened #249 "Streaming Transformer Transducer"
Hi!

I am currently working on a streaming Transformer Transducer (T-T) myself (using Tensorflow) but I'm struggling to get started with the actual inference part. I've been referred to your repository from ESPnet (see https://github.com/espnet/espnet/pull/2533#issuecomment-757798727), as you noticed or going to notice.

I was wondering if you could share some knowledge on how you are tackling thi

[2021-01-11 12:47] hirofumi0810 commented on #178
@SoonSYJ `streaming_type=reshape` corresponds to it. It is good in a sense that past context does not accumulate regardless of the layer depth.

[2021-01-11 12:50] hirofumi0810 commented on #249
@stefan-falk Hello. The difference between triggered attention and MoChA is the computational complexity in each generation step. Triggered attention requires O(T^2) but MoChA does O(T) because the context size is very limited.

[2021-01-11 12:54] stefan-falk commented on #249
@hirofumi0810 Ah, I see. Then MoChA it is! Thank you. Do you have working code for MoChA training and decoding already? I'd love to take a look at it to get started, in case you do.

[2021-01-11 14:55] hirofumi0810 commented on #249
@stefan-falk You can start from [here](https://github.com/hirofumi0810/neural_sp/blob/master/neural_sp/models/seq2seq/decoders/las.py#L1456).
I'll send a big PR for streaming inference with Transformer/Conformer encoder (+caching) this week. Stay tune!

[2021-01-11 16:01] hirofumi0810 commented on #228
@lijianhackthon I think you should use `--conf2=conf/data/spec_augment.yaml`. How many epochs did you run? You need 50 epochs.

[2021-01-11 16:02] hirofumi0810 commented on #227
@jiwidi Are you able to train ASR models in stage-4? (by skipping stage-3)

[2021-01-11 16:03] #184 closed

[2021-01-11 16:07] hirofumi0810 commented on #218
@lfgogogo If you have a lot of training data, checkpoint averaging might be ineffective. Please try to change `n_average` in `score.sh`.
But averaging is not related to speed performance at all.

[2021-01-11 16:24] hirofumi0810 commented on #158
@SoonSYJ I remember I tried different indices in each chunk, but it was not helpful.
So I simply reuse the same indices in each chunk.
Note that such positional encoding is still helpful on AISHELL-1.

[2021-01-12 02:37] lfgogogo opened #251 "RNN-T,growing memory occupancy of GPU."
@hirofumi0810 Hi,i'm training a LC-BLSTM RNN-T model,and get cuda out of memory all the time.It happens after some epochs,then i monitor the GPU occupancy and find memory occupancy of GPU grows by time.I tried del and torch.cuda.empty_cache() but failed.Could you please solve my problem?

[2021-01-12 03:04] lijianhackthon commented on #228
@hirofumi0810

Thanks for your quick reply. I used the default config `conf/asr/blstm_las.yaml`, which I believe the item `n_epochs: 25` is the setup for number of epochs.

I will use `--conf2=conf/data/spec_augment.yaml` and `n_epochs: 50` to train a new model and let you know the results. Thanks.

[2021-01-12 07:20] stefan-falk commented on #249
@hirofumi0810 Thanks a lot! I'll be looking at the code :) And thanks for your great work!

[2021-01-13 02:28] Jungwon-Chang opened #252 "Issues with score.sh on streaming transformer(mma) models"
Hello Hiro, after I tained streaming transformer model(mma) on Librispeech corpus, I tried to decode the results by score.sh.
It seemed to go well at first, but the decoding went wrong after few steps, with the error message as followed:

[code]
the configuration I used was
`conf/asr/mma/streaming/lc_transformer_mma_subsample8_ma4H_ca4H_w16_from4L_64_128_64.yaml`

Also, I found out in the decode.l

[2021-01-14 09:00] stefan-falk commented on #249
@hirofumi0810 Can we even use MoChA inside a Transducer model?

[2021-01-15 04:16] hirofumi0810 commented on #249
@stefan-falk MoChA is different from Transducer, so it is not common to combine them.
But there is a combination of attention and RNN-T (https://arxiv.org/abs/2005.08497).
I have implemented RNN-T as well (see readme). I'll support streaming inference with RNN-T soon.

[2021-01-15 07:18] stefan-falk commented on #249
Thank you for the link!

However, I kind of move away from RNN-based Transducer models. The reason for that was after I saw how much smaller the Transformer-Transducer (T-T) and Conformer-Transducer (C-T) models are. A 30M parameter C-T model outperforms a 130M parameter RNN-T model. On my hardware, I am not even able to train such an RNN-T model 😆

Here is a quick (not very scientific) comparison

[2021-01-17 10:12] lijianhackthon commented on #228
@hirofumi0810

I just got the test results of the LAS model by using the setup that you recommended. I used `--conf2=conf/data/spec_augment.yaml` and set the `n_epochs:` to be 50 in the file `conf/asr/blstm_las.yaml`. For this time, I didn't use cold fusion or asr_init during the train process. Other than that, I left all the configs as default in the CSJ. The results are in the table below,

[cod

[2021-01-18 13:25] hirofumi0810 commented on #228
@hirofumi0810 I think you have already reproduced the results successfully.
The best number was obtained by using character-CTC as an auxiliary task.
Speed perturbation can boost the performance further (but tasks more time).

[2021-01-27 16:31] jiwidi commented on #227
@hirofumi0810 Hi

Sorry Ive been out the last weeks, its a busy week for me this one but will try it on the weekend. Thanks

[2021-02-03 08:49] agarwalchaitanya commented on #227
facing a similar error during installation:`nvcc fatal   : Unsupported gpu architecture 'compute_30'`

[2021-02-03 11:50] agarwalchaitanya opened #263 "examples/ami/s5b recipe failing"
Hi, I'm trying to run the `ami` recipe but it's failing with the following trace. Are there any leads on this?
[code]

[2021-02-03 16:55] #7 closed

[2021-02-03 16:55] #2 closed

[2021-02-03 16:58] #12 closed

[2021-02-03 17:00] hirofumi0810 commented on #238
Hi @Jungwon-Chang, this issue was fixed via #265.

[2021-02-04 01:41] Jungwon-Chang commented on #238
Thanks! I will try with the new configuration and let you know the results.

[2021-02-08 02:32] jinggaizi commented on #249
@stefan-falk hi, stefan, Is your experiments on the German dataset on espnet? espnet or espnet2?

[2021-02-08 03:35] jinggaizi opened #270 "question about rnnt result"
hi,
i find configuration neural_sp/examples/librispeech/s5/conf/asr/transducer/lc_transformer_rnnt_64_64_32_bpe1000.yaml. What is the result of this configuration
thanks

[2021-02-08 17:43] hirofumi0810 commented on #270
@jinggaizi No. I will not report it. Instead I'll report results with streaming Conformer encoder soon.

[2021-02-08 17:45] hirofumi0810 commented on #263
@agarwalchaitanya Could you try to comment out `local/ami_prepare_dict.sh` (line: 120) in `run.sh`?

[2021-02-09 02:46] jinggaizi commented on #270
Is decoder transducer?

[2021-02-09 11:10] stefan-falk commented on #249
@jinggaizi This is just a mix of different (public) datasets e.g. Common Voice and Spoken Wikipedia.

[2021-02-11 11:46] agarwalchaitanya commented on #263
that helps remove the error but it fails somewhere within stage 0
[code]

[2021-02-20 08:39] jinggaizi commented on #226
i had the same problem, i check the run.sh and i set the variable gpu is to 8. At first I thought it's the number of gpu, fix it and will be ok

[2021-02-25 08:23] jinggaizi opened #280 "what's version fo cuda and pytorch"
i run the aishell example(transducer)  and use torch1.4+cuda10.1 or torch1.5+cuda10.1, there are some error as follows：
torch1.4+cuda10.1:
/opt/conda/conda-bld/pytorch_1579022060824/work/aten/src/ATen/native/cudnn/RNN.cpp:1266: UserWarning: RNN module weights are not part of single contiguous chunk of memory. This means they need to be compacted at every call, possibly greatly increasing memory us

[2021-02-25 08:29] jinggaizi commented on #280
@hirofumi0810 hi, what's version of torch and cuda that you are running the example

[2021-02-25 08:36] jinggaizi commented on #280
it's work with torch1.4 when use LAS conf

[2021-02-26 02:03] Garry-sh opened #282 "Can provide ASR performance results for different language models?"
Hi,
  In speech tasks, i think the performance of the language model should be correlated with the ASR performance, but There are few ASR performance comparisons between different language models in many projects. Can you provide some experimental results to help verify experiment? such as transformer xl ,cnn...

Thanks for any hints!

[2021-03-02 07:58] AliceSM opened #286 "Aishell example die in stage 1"
I try to run the script run.sh but it stuck and exit at stage 1.
This is the out put when I run this command "./run.sh --gpu 0 -le 0 -ge 2".
How can I run this example? Thank you.
![image](https://user-images.githubusercontent.com/36329020/109616631-f9ef7580-7b67-11eb-8815-a3bfda914192.png)

[2021-03-09 08:48] jinggaizi opened #292 "a question about transducer training"
@hirofumi0810
hi, author, i train a model with transducer configuration, it's failed while processing batch_dev, the code is as follow:
batch_dev = iter(dev_set).next(batch_size=1 if 'transducer' in args.dec_type else None)[0]----neural_sp/bin/asr/train.py
the batch_dev has only one item but it's need data parallel when run "loss, observation = model(batch_dev, task=task, is_eval=True)", the resul

[2021-03-19 02:57] jinggaizi opened #298 "conformer transducer"
hi,
Have you ever run a example of conformer transducer, i try to run on aishell but have some problem.
first ,i copy the configuration of librispeech -- lstm_rnnt_bpe1000.yaml and it's ok
then i replace the transformer decoder with lstm in examples/aishell/s5/conf/asr/conformer_m.yaml as flower :
conv_batch_norm: false
conv_layer_norm: false
enc_type: conv_conformer
conformer_kernel_size: 3
enc_n

[2021-03-19 07:49] jinggaizi commented on #298
i set the training sentences as a multiple of N*batchsize, N is the number of GPU, then it's work

[2021-04-25 06:22] Cescfangs opened #322 "quetion about the loss and grad of "mbr""
https://github.com/hirofumi0810/neural_sp/blob/2b10b9cc4bdecb5180ecc45575c0ef410fb09aa3/neural_sp/models/seq2seq/decoders/las.py#L535-L548
I don't know much about mbr, according to these lines, it looks like a [mWER](https://ieeexplore.ieee.org/abstract/document/8461809) loss and gradient to me

[2021-04-25 10:20] hirofumi0810 commented on #322
@Cescfangs yes

[2021-04-25 10:20] #298 closed

[2021-04-25 10:21] hirofumi0810 commented on #292
#307 fixed it.

[2021-04-25 10:21] #292 closed

[2021-04-26 01:31] Cescfangs commented on #322
Thanks for the reply, and I'm curious about the improvement of this mWER tuning, say 5% relative wer reduction?

[2021-04-26 12:04] Cescfangs commented on #322
https://github.com/hirofumi0810/neural_sp/blob/2b10b9cc4bdecb5180ecc45575c0ef410fb09aa3/neural_sp/models/criterion.py#L12-L39

Also, I am a little confused about the “mbr” loss, the inputs are not used in backward function, how does the grad flow to model params?

[2021-06-07 08:45] CSLujunyu opened #343 "How to decode empty target files which only contain background noise"
I have some background noise wav files in my testset, in order to test the robustness of models.

But I find it would remove the empty examples in bin/asr/eval.py when I remove lines 114-115 in "utils/make_tsv.py".

![image](https://user-images.githubusercontent.com/24778852/120987038-c7c96180-c7af-11eb-9ae0-3a07db06ef8f.png)

[2021-06-07 08:46] CSLujunyu commented on #343
Could you give some advice?

[2021-06-08 17:54] Durgesh92 opened #344 "Streamable architecture"
Can someone list architectures that support stream decoding?

[2021-09-11 16:43] SuryodayBasak opened #346 "Recommended versions of Python, Pytorch, CUDA?"
What are the recommended versions of Python, Pytorch, and CUDA in order to run examples/librispeech?

[2022-01-01 07:32] Neukiru commented on #227
Hi me and my colleague have run the model with aishell2 recipe on rtx3090. We had the same compute 30 problem and resolved it by commenting out 1 or 2 lines in regarding cmake file

[2022-02-10 02:08] artificertxj1 opened #347 "data preprocessing"
Hi, I'm trying to reproduce the results on librispeech but run into troubles with Kaldi.
Can I do data preprocessing with codes from [ data_preproceessing ](https://github.com/hirofumi0810/asr_preprocessing) repo instead of using Kaldi?

[2022-04-05 07:42] qkrguswn2401 opened #348 "librispeech dict issue vocab"
I an running librispeech example.  under dict folder, there are bpe10000.vocab and wpbpe100000.txt.
Vocab file is the vocab file
The wpbpe10000.txt contains only <unk>, <eos>, <pad>.
When running language model, the dict.txt of the model is the wpbpe10000.txt (3 vocabs), which does not make sense!
Did I make the wpbpe10000.txt wrong?

[2022-04-05 07:58] qkrguswn2401 commented on #348
![image](https://user-images.githubusercontent.com/36841216/161706770-38839cee-88e5-4ba9-bb27-33370c1d933a.png)

[2022-04-05 07:59] qkrguswn2401 commented on #348
![image](https://user-images.githubusercontent.com/36841216/161706806-f9ea25a2-f4da-44c4-8210-57f4c61a171b.png)
this is the dict.txt that Language model uses

[2022-05-01 14:42] MM-0712 commented on #348
Yes, the dict seems error. It need to check carefully again.

Best
Guodong

[2022-05-03 05:30] #348 closed, assigned to nobody

[2022-05-09 01:48] qkrguswn2401 opened #349 "loss ctc fluctuates"
hi, I am creating an ASR model on Korean dataset.
My E2E ASR model without language model works really well,   wer around 1 on dev and evaluation set.
But When I apply language model fusion (deep and cold), ctc dev loss does not converge at all and around 50% WER on eval set.
attention dev loss  converges and accuracy is about 99%.
I can not find the cause of fluctuation of ctc loss and not perfor

[2022-08-04 05:03] #286 closed